/* styles.css */

/* Add styles here to customize the appearance of your app */
* {
    font-family: Roboto;
}

h1 {
    color: rgb(33, 122, 240);
}

.container {
    display: grid
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 2fr 100px;
    justify-items:center;
    align-items:center;
    grid-column: auto;
 }


#import{
  background-color: #1477F8;
  color: white;
  margin: 10px;
  /*vertical-align: top;*/
  border:none;
}

#clear{
  background-color: #C4C4C4;
  margin: 10px;
  vertical-align: top;
  border:none;
  left: 400px;
  right: 300px;
  border-radius: 20px;
  padding: 15px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}

#clear-grid {
  margin-top: 15px;
  padding: 5px 20px;
  background-color: aquamarine;
  border: none;
  
}

#clear-grid:hover {
  opacity: 70%;
}

#save{
  background-color: #33373E;
  color: white;
  margin: 10px;
  vertical-align: top;
  border:none;
  left: 400px;
  right: 300px;
  border-radius: 20px;
  padding: 15px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}


#view-option{
  background-color: #2b333d;
  color: white;
  margin: 10px;
  vertical-align: top;
  border:none;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  padding: 0px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}


#ZoomIn{
background-color: #72C850;
font-size: 20px;
text-align: center;
height: 20px;
width: 20px;
padding: 20px;
color: white;
border-radius: 100px;
margin: 20px;
justify-content: center;
display: inline-flex;
align-items: center;
vertical-align: top;
/*position: absolute;*/
border:none;
top: 100px;
left: 400px;
right: 300px;
}

#ZoomOut{
  background-color: #FF6660;
  font-size: 30px;
  height: 20px;
  width: 20px;
  padding: 20px;
  color: white;
  border-radius: 100px;
  margin: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  /*position: absolute;*/
  border:none;
  top: 100px;
  left: 450px;
  right: 250px;
}

#MenuButtons button{
 border: none;
 border-radius: 20px;
 padding: 15px;
 filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
 transform: matrix(1, 0, 0, 0, 0 );
}

.grid-row {
    margin: 0;
     height: 20px;
  }
  
  .grid-column{
    margin:0;
    height: 20px;
  }
  
  .grid-square {
      width: 30px;
      height: 20px;
      border: 1px solid lightgrey;
      display: inline-block;
      align-items: center;
      justify-items: center;

  }
  
  .grid-square:hover {
      background-color: grey;
  }
  
  .clicked {
      background-color: blue;
  }

  body {
    text-align: center;
}


