/* styles.css */

/* Add styles here to customize the appearance of your app */
* {
    font-family: Roboto;
}

h1 {
    color: rgb(33, 122, 240);
}

.container {
    justify-items:center;
    align-items:center;
    grid-column: auto;
 }

.pallette.html{
  display: none;
}

#import{
  background-color: #1477F8;
  color: white;
  margin: 10px;
  /*vertical-align: top;*/
  border:none;
}

#editPallete{
    padding: 8px 14px;
    border-radius: 20px;
    background-color: #5FA4FE;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

#clear-grid {
  background-color: #C4C4C4;
  margin: 10px;
  vertical-align: top;
  border:none;
  left: 400px;
  right: 300px;
  border-radius: 20px;
  padding: 15px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}

button:hover {
  opacity: 70%;
}

#save{
  background-color: #33373E;
  color: white;
  margin: 10px;
  vertical-align: top;
  border:none;
  left: 400px;
  right: 300px;
  border-radius: 20px;
  padding: 15px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}


#view-option{
  background-color: #2b333d;
  color: white;
  margin: 10px;
  vertical-align: top;
  border:none;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  padding: 0px;
  filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
  transform: matrix(1, 0, 0, 0, 0 );
}


#ZoomIn{
background-color: #72C850;
font-size: 20px;
text-align: center;
height: 20px;
width: 20px;
padding: 20px;
color: white;
border-radius: 100px;
margin: 20px;
justify-content: center;
display: inline-flex;
align-items: center;
vertical-align: top;
/*position: absolute;*/
border:none;
top: 100px;
left: 400px;
right: 300px;
}

#ZoomOut{
  background-color: #FF6660;
  font-size: 30px;
  height: 20px;
  width: 20px;
  padding: 20px;
  color: white;
  border-radius: 100px;
  margin: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  /*position: absolute;*/
  border:none;
  top: 100px;
  left: 450px;
  right: 250px;
}

#MenuButtons button{
 border: none;
 border-radius: 20px;
 padding: 15px;
 filter: drop-shadow(0px 4px 4px rgba(100, 100, 100, 0.25));
 transform: matrix(1, 0, 0, 0, 0 );
}

.grid-row {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;    
}

.grid-rowtop{
  margin: 0;
  height: 20px;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
  
/* .grid-column{
    margin:0;
    height: 20px;
    width: 30px;
} */

.grid-box {
  width: 30px;
  height: 20px;
  display: flex;
  border: 1px solid #E7F1FF; 
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-size: 12px;
}

.grid-square {
  width: 30px;
  height: 20px;
  border: 1px solid lightgrey;
  display: inline-block;
  align-items: center;
  justify-items: center;
  background-color: white;
  font-size: 12px;
}

  .clicked {
      background-color: blue;
  }

  body {
    text-align: center;
}








.selected-square {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1px solid black;
  display: inline-block;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}

#saved-palettes, #sample-colors {
  margin-bottom: 20px;
}

.selected-square{
  border-radius: 50%;
  border: none;
}

.color-pallette-colors {
  border: 1px solid #0000008A;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: white;
}

.color-pallette {
  margin-bottom: 20px;
}


button:hover {
  cursor: pointer;
  opacity: 70%;
}


#test {
  width: 200px;
  height: 200px;
}


#test img {
  width: 200px;
  height: 200px;
}

/* print with background color showing - https://stackoverflow.com/questions/14987496/background-color-not-showing-in-print-preview */
@media print {
  body {-webkit-print-color-adjust: exact;}
}